.yantralist:before,
.clearfix:before,
.yantralist:after,
.clearfix:after {
	content: "";
	display: table;
}
.yantralist:after,
.clearfix:after {
	clear: both;
}
.yantralist,
.clearfix {} body {
	background-color: #ffffff;
	font-family:verdana, arial, sans-serif;
	margin: 0;
	padding: 0;
	border-top: 20px solid #000080;
}
.clearing {
	clear: both;
}
#main_wrapper {
	padding: 20px;
}
#slider1_container {
	border-radius: 5px;
	margin: 0 25px 25px;
	overflow: hidden;
	position: relative;
}
.cycle-slideshow {} 

#slider1_container img {
	border: 5px solid #00eeff;
  height: auto;
  max-width: 320px;
  width: 100%;
}
#yantra_list {
	margin: 0 auto;
	padding: 0 5px;
	text-align: center;
	width: 93%;
}
#yantra_list ul {
	background: none repeat scroll 0 0 #00eeff;
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
#yantra_list .mainwrapper {
	background: none repeat scroll 0 0 #00eeff;
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
#yantra_list ul li {
	display: inline-block;
	max-width: 160px;
	padding: 5px 8px;
}
#yantra_list ul li img {
	height: 140px;
	width: 95%;
}
#yantra_list ul li input {
	border: 2px inset #ffffff;
  display: block;
  margin: 5px auto auto;
  padding: 4px 7px;
  width: 70px;
}
#yantra_list ul li input:focus {
	background-color: #ffffff;
  color: #ffffff;
}
#yantra_content {
	background-color: #ffff00;
	margin: 0 auto;
	max-width: 1366px;
	padding-top: 10px;
	position: relative;
}
#yantra_content #content {
	background-color: #d20e10;
}
#yantra_content table {
	border-collapse: collapse;
	color: #000000;
}
#yantra_content table,
#yantra_content td,
#yantra_content th {
	border: 2px solid #000;
}
#yantra_content table tr {
	margin-bottom: 10px;
}
#yantra_content table td {
	text-align: center;
	vertical-align: top;
}
#yantra_content table .text {
	width: 60px;
}
#yantra_content table .image {
	display: block;
	width: 150px;
}
#yantra_content table .image img {
	height: auto;
	width: 100%;
}
#yantra_content #content {
	height: 242px;
	margin: 0 auto;
	overflow: auto;
	padding-right: 0;
	width: 100%;
}
#mainWrapper {
	margin: 0 auto;
	max-width: 1366px;
	position: relative;
}
#leftArea {
	background: none repeat scroll 0 0 #ffff00;
	float: left;
	height: 350px; 
	padding-top:50px;
	text-align: center;
	width: 364px;
}
#RightArea {
	background: none repeat scroll 0 0 #ffff00;
	height: 410px;
	margin-left: 364px;
}
#Righttop {
	color: #000000;
	margin-right: 10px;
	min-height: 45px;
	text-align: right;
}
#footer {
	background-color: #ffff00;
	bottom: 0;
	height: 70px;
	left: 0;
	padding: 0 5px 5px;
	position: fixed;
	right: 0;
	text-align: center;
	width: auto;
	z-index: 100;
}
#footer input {
	border:1px solid #666666;
	border-radius: 5px;
	color: #ffffff;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 4px 8px;
}
#footer .yantra {
	background-color: #4a9bc8;
	background: -moz-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #348cd6), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#348cd6', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #348cd6 0%, #ffffff 100%);/* W3C */
	
	float:left;
	color:#333;
}

#footer .drawlist {
	background-color: #4a9bc8;
		background: -moz-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 90deg, color-stop(0%, #348cd6), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#348cd6', endColorstr='#ffffff', GradientType='0'); /* for IE */
	background: linear-gradient(0deg, #348cd6 0%, #ffffff 100%);/* W3C */
	
	float:left;
	color:#333;
	margin-left:19px;
	display:none;
}


#footer .current {
	background-color: #4a9bc8;
	background: -moz-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #348cd6), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #348cd6 0%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#348cd6', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #348cd6 0%, #ffffff 100%);/* W3C */
	margin-bottom: 10px;
	margin-left: 10px;
color:#333;
}
#footer .upcoming {
	background-color: #9ea5ab;
background: -moz-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #adb8be), color-stop(50%, #adb8be), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adb8be', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* W3C */
color:#333;
	margin-left: 10px;
}
#footer .test1 {
	background-color: #F1F49C;
	border: #666 inset 2px;
	color: #000000;
	margin-left: 10px;
	text-align: center;
	width: 100px;
	-moz-border-radius: 0px;/*Firefox*/
-webkit-border-radius: 0px;/*Safari, Chrome*/
border-radius: 0px;
}
#footer .test2 {
	background-color: #C4E5B0;
  border: 2px inset #666;
  border-radius: 0;
  color: #000000;
  margin-left: 10px;
  text-align: center;
  width: 100px;
}
#footer .barcodetext {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
  margin-left: 10px;
  text-align: right;
  vertical-align: middle;
  width:140px;
  
}
#footer .barcode {
	background-color: #ffffff;
	border: #666 inset 2px;
	color: #000000;
	margin-left: 10px;
	text-align: center;
	width: 150px;
-moz-border-radius: 0px;/*Firefox*/
-webkit-border-radius: 0px;/*Safari, Chrome*/
border-radius: 0px;
}
#footer .buy {
	background: -moz-linear-gradient(90deg, #916366 0%, #c79094 40%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #916366), color-stop(40%, #c79094), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #916366 0%, #c79094 40%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #916366 0%, #c79094 40%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #916366 0%, #c79094 40%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#916366', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #916366 0%, #c79094 40%, #ffffff 100%);/* W3C */
}
#footer .clar {
	background-color: #78a56c;
background: -moz-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #78a56c), color-stop(50%, #91bc85), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78a56c', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* W3C */
	margin-left: 10px;
	color:#444444;
}
#footer .can {
	background-color: #78a56c;
background: -moz-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #78a56c), color-stop(50%, #91bc85), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78a56c', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* W3C */
	margin-left: 10px;
		color:#444444;
padding: 4px 0;
}
#footer .lreceipt {
	background-color: #78a56c;
background: -moz-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #78a56c), color-stop(50%, #91bc85), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78a56c', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #78a56c 0%, #91bc85 50%, #ffffff 100%);/* W3C */
	margin-left: 10px;
		color:#444444;
padding: 4px 0;
}
#footer .exit {
	background-color: #d20e10;
	margin-left: 15px;
	margin-right: 15px;
	width: 125px;
	border-radius: 0;
}
#footer .pdetail {
	background-color: #9ea5ab;
background: -moz-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #adb8be), color-stop(50%, #adb8be), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adb8be', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* W3C */
color:#333;
padding: 4px 15px;
}
#footer .luckyyantra {
padding: 4px 15px;
	background-color: #9ea5ab;
background: -moz-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #adb8be), color-stop(50%, #adb8be), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adb8be', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #adb8be 0%, #adb8be 50%, #ffffff 100%);/* W3C */
color:#333;
}
#centerPopup {
	background: none repeat scroll 0 0 #ffff00;
	border-radius: 5px;
	box-shadow: 0 10px 5px -10px #c38712;
	display: none;
	left: 50%;
	padding: 15px;
	position: absolute;
	top: 18%;
	width: 800px;
	z-index: 1000;
}
#centerPopupInner {
	height: 350px;
	overflow-y: scroll;
}
.separater span {
	display: inline;
}
.centerPopupinput {
	border-radius: 3px;
	margin: 5px;
	padding: 4px;
	text-align: center;
	width: 75px;
}
.currenDate {
	border-bottom: 1px solid #ff3300;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0 5px 11px;
}
.closeDiv {
	float: right;
	margin-top: -5px;
}
#closeDiv {
	background-color: #ff3300;
	color: #ffffff;
	font-size: 11px;
	margin: 0;
	padding: 0;
	width: 18px;
}
#CurrentTime {
	color: #000000;
  font-weight: bold;
  margin: 35px 0 5px;
  padding: 0 30px;
  width: 310px;
}
#CurrentTime .ctime {
	float: left;
	font-size: 20px;
	height: 20px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: bottom;
	width: 60% !important;
}
#CurrentTime .ltime {
	font-size:18px;
	height: 20px;
	margin-left: 150px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: bottom;
}
#content ul {
	margin: 0;
	padding: 0;
}
#content > div#innerContent {
	padding-left:2px;
	padding-top:2px
}
#content li {
	box-sizing: border-box;
	color: #000000;
	display: inline-block;
	list-style: outside none none;
	padding: 0;
	text-align: center;
	width: 16.3%;
	margin-right: -5px;
	margin-bottom: -5px;
	vertical-align: top;
}
#content li .yantralist {
	border: 1px solid #000000;
}
#content .yantralist {} #content .lefttext {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 40%;
}
#content .rightyantra {
	
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 60%;
	
}
#content .lefttime {
	border-right: 2px solid #000;
  font-size: 18px;
  font-weight: normal;
  /*height: 119px;*/
  height:84px;
  padding-top:35px;
}
#content .leftstart {
	text-align: center;
}
#content .jackport img {
	border: 4px solid #88f7f3;
}
#content .leftstart img {
	border: 0 none;
}
#content .jp {/**/}
#content .yantralist img {
	border: 4px solid #d20e10;
	box-sizing: border-box;
	height: 119px;
	max-width: 100%;
	width: 162px;
}
.currentBalance {
/*
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	margin-right: 45px;
	margin-top: 8px !important;*/
}
#CurrentTimer {
	color: #000000;
	float: right;
	font-size: 20px;
	font-weight: bold;
	margin: 13px 0 5px;
	padding: 0 30px;
}
.whiteColor {
	color: #000000;
}
.MT14 {
	float: right;
	margin-top: 14px;
}
#yantra_list > form {
	margin: 5px 0;
}
.logo {
	color: #ffffff;
	font-size: 20px;
	padding-top: 20px;
}
.logo img {
	max-width: 80%;
}
#yantra_content {
	margin-bottom: 70px;
	max-width: 100%;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
}
#mainWrapper {
	max-width: 100%;
	width: 100%;
}
#leftArea {
	padding-bottom: 10px;
	width: 25%;
}
#RightArea {
	float: left;
	margin: 0;
	width: 75%;
}
#Righttop a {
	color: #000000;
}
.left {
	float: left;
	margin: 13px 0 5px;
	padding: 0 30px;
}
#CurrentTime,
#CurrentTime *,
#slider1_container,
#slider1_container *,
#yantra_list ul,
#yantra_list ul * {
	box-sizing: border-box;
}
#CurrentTime {
	width:100%; padding-left:60px !important;
}
#leftArea #CurrentTime {
	clear: both;
}
#leftArea #CurrentTime > div {
	float: left;
	margin: 0;
	width: 40%; font-weight:normal; white-space:nowrap;
}
#slider1_container {
	margin: 0;
	padding: 10px 30px 10px 60px;
	width: 100%;
}
#yantra_list ul li {
	max-width: 19%;
	text-align: center;
	width: 19%;
}
#yantra_list ul li img {
	background-color: #ff0000;
	box-sizing: border-box;
	height: 110px;
	max-width: 100%;
	padding: 0 4px;
	width:170px;
}
#slider1_container img {
	height: 260px;
}
.f25 {
	font-size: 25px !important;
}
.date {
	padding-right: 124px;
}
.logout {
	margin-right: 47px;
}
@media print {
	.pagebreak {
		page-break-after: always;
	}
}
#content li .rightyantra img {} #CurrentTime .timeleft {
	font-size: 20px !important;
}
.maintbl {
	border: medium none !important;
	padding: 0 5px 5px;
}
#innerContent > table {
	border: medium none;
	width:99.90%;
}
.maintbl table td {
	color: #000000;
}
.rightinfo {
	float: left;
	text-align: right;
	width: 100%;
}
.prcblkinfo {
	float: right;
	width: auto;
}
.prccls {
	font-size: 18px;
	text-align:center;
}
.dtcls {
	border: 1px solid #acb600;
	float: right;
	font-size: 20px;
}
.curTime {
	font-size: 24px !important;
	font-weight: normal !important;
}
.logininfo {
	float: right;
}
.cln {
	clear: both;
	height: 4px;
}
.pnno {
	font-size: 18px;
	width: auto;
	padding-right: 100px;
}
.clngap {
	clear: both;
	height: 5px;
}
#content .yello .lefttime {
	background-color: #ffff00;
	height:84px;
}
#content .yelloborder img{
	/*border: 4px solid #ffff00;*/
}
#content .yelloborder {
	background-color: #ffff00;
}
#Righttop .rightinfo .logininfo {
	margin-top: 5px;
}
#Righttop .rightinfo .logininfo img {
	height: 48px;
}
#content .yantralist.tow_colls .lefttext {
	float: none;
	width: auto;
	
	border-bottom:1px solid #000;
}
#content .yantralist.tow_colls .rightyantra {
	width: 50%;
	border-left: medium none;
}
#content .yantralist.tow_colls .leftline { border-right: 1px solid #000; }
#content .yantralist.tow_colls .lefttext .lefttime {
	height: auto;
}
#content .yantralist.tow_colls .rightyantra img {
	height: 96px;
}
#noborder { border:0px !important; }
@media screen and (min-width: 1280px) {
    #footer .exit {
  background-color: #d20e10;
  border-radius: 0;
  bottom: 7px;
  left: 50px;
  margin: auto;
  position: absolute;
  right: 0;
  width: 150px;
}
}
#slider1_container img {
  outline: 1px solid #000000;
}
#yantra_list ul {
  border: 1px solid #000000;
}
#yantra_content #content {
  border: 1px solid #000000;
}